/*Color Palette
----------------------
background-color: #fff;
background-color: #4a90e2;
background-color: ##4A4A4A;
background-color: #d0021b;
background-color: #333333;

*/

html, body {
	background-color: #dddddd;
	color: black;
	height: 100%;
	width: 100%;
	}

.wrapper {
	width: 85%;
	margin: 0 auto;
	position: relative;
}	

.top-block {
	background-color: #fff;
	position: relative;
}

.text1 {
	line-height: 1.2em;
	padding: 30px;
	margin: 30px 0 0;
	font-size: .8em;
	font-family: Helvetica, sans-serif:
}

.buttons {
	width: 15%;
	text-align: center;
	display: inline-block;
	margin: 0 15px 25px 25px;
}

.red-button {
	background-color: #d0021b;
	padding: 5px 0;
	
}

.blue-button {
	background-color: #4a90e2;
	padding: 5px 0;
}

.buttons h5 {
	color: white;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: #414649;
}

.second {
	background-color: #fff;
	position: absolute;
}

.dark {
	width: 80%;
	background-color: #414649;
	color: white;
	margin: 20px auto;
	padding:30px 0 40px;
	text-align: center;
	
}

span {
	color: white;
	float: right;
	margin: 30px;
}

.second p {
	color: black;
	line-height: 1.2em;
	padding: 30px;
	margin: 30px 0 0;
	font-size: .8em;
	font-family: Helvetica, sans-serif:

}